.topbar {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $top-bar-height;
  // transform: translateY(-$top-bar-height);
  // transition: transform $transition--fast;
  &__site {
    // transform: translateY($top-bar-height / 2);
    // transform-origin: top left;
    // transition: transform $transition;
    // will-change: transform;
  }
  // &:hover {
  //   transform: translateY(0);
  //   .topbar__site {
  //     transform: translateY(0);
  //   }
  // }
}
