$color-dark: #222;
$color-dark-80: #333;
$color-light: #dadada;
$color-light-60: rgba($color-light, 0.6);
$color-alternative: teal;

// transitions
$transition--cubic: cubic-bezier(0.4, 0, 0, 1);
// --transitions-motion: 0.3s cubic-bezier(0.2, 1, 0.2, 1);
// --transitions-smooth: 0.4s cubic-bezier(0.9, 0, 0.05, 1);
// --transitions-overshoot: 0.4s cubic-bezier(0.65,-0.36,0.39,1.32);
$transition: 0.5s $transition--cubic;
$transition--slow: 0.7s $transition--cubic;
$transition--fast: 0.4s $transition--cubic;

//------- Media queries -------//
$viewport-extra-small: 350px; // 350px
$viewport-small: 576px; // 576px
$viewport-medium: 992px; // 992px
$viewport-large: 1025px; // 1025px
$viewport-extra-large: 1440px; // 1200px
$viewport-max: 1920px; // 1920px

// layout - grid
$grid-max-width: 1680px;
$grid-max-content-width: 1615px;
$grid-min-width: 370px;

// border
$border-large: clamp(30px, 8vw, 70px);

// fonts
@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
  font-weight: 100 200 300 400 500 600 700 800 900; /* Range of weights the font supports */
  font-style: normal; /* or italic if your font supports it */
}
@mixin primary-font {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 500;
}
